@model List<Domain.Entities.Category>

@{
    ViewData["Title"] = "Buy sell easy";
}
<div class="page-content">
    <h1>Categories</h1>
    <div class="categories-container">
        @foreach (var category in Model)
        {
            <a class="category-card" href="@Url.Action("Products", "Product", new { categoryId = category.Id })">
                <div class="category-image">
                    <img src="@category.ImageUrl" alt="@category.Name" />
                    <div class="overlay">Смотреть товары</div>
                </div>
                <div class="category-name">@category.Name</div>
            </a>
        }
    </div>
    
    <h1>Products</h1>
    <div>
            <a href="/products">Products</a>
    </div>
</div>