@model Product
@{
    ViewData["Title"] = "Buy sell easy";
}
<div>
    <h1>Products</h1>
    <div id="category-list"></div>

    <div>
            <a href="/products">Products</a>
        </div>
    </div>
