@model IEnumerable<string>
@inject IConfiguration imia

@{
    ViewData["Title"] = "Buy sell easy";
}
<div>
    <h1>Categories</h1>
    <ul>
        @foreach (string category in Model)
        {
            <li>@category</li>
        }
    </ul>
    
    <h1>Products</h1>
    <div>
            <a href="/products">Products</a>
        </div>
    </div>
